<div class="card" style="width: 18rem;">
  <img
    class="card-img-top"
    src="https://voxpopulii.in/system/static/dashboard/img/default_user.png"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{ user.name }}</h5>
    <p class="card-text">
      {{ user.username }} | <span>{{ user.email }}</span>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <app-adress [address]="addressUser"></app-adress>
    </li>
    <li class="list-group-item">
      <app-company [company]="companyUser"></app-company>
    </li>
    <li class="list-group-item">
      <app-geo [geo]="geoUser"></app-geo>
    </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">{{ user.phone }}</a>
    <a href="#" class="card-link">{{ user.website }}</a>
  </div>
</div>
