<h6>Create User</h6>
<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
  <div class="form-row">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        placeholder="username"
        id="username"
        [(ngModel)]="user.username"
        name="username"
        #username="ngModel"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        placeholder="name"
        id="name"
        [(ngModel)]="user.name"
        name="name"
        #name="ngModel"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        placeholder="email"
        id="email"
        [(ngModel)]="user.email"
        name="email"
        #email="ngModel"
      />
    </div>
  </div>
  <!-- address -->
  <div ngModelGroup="address">
    <label>Address</label>

    <div class="form-row">
      <div class="col-auto">
        <input
          type="text"
          class="form-control"
          placeholder="street"
          id="street"
          [(ngModel)]="user.address.street"
          name="street"
          #street="ngModel"
        />
      </div>
      <div class="form-row">
      <div class="col-auto">
        <input
          type="text"
          class="form-control"
          placeholder="suite"
          id="suite"
          [(ngModel)]="user.address.suite"
          name="suite"
          #suite="ngModel"
        />
      </div>
      </div>
      <div class="form-row">
        <div class="col-auto">
          <input
            type="text"
            class="form-control"
            placeholder="city"
            id="city"
            [(ngModel)]="user.address.city"
            name="city"
            #city="ngModel"
          />
        </div>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <input
              type="text"
              class="form-control"
              placeholder="zipcode"
              id="zipcode"
              [(ngModel)]="user.address.zipcode"
              name="zipcode"
              #zipcode="ngModel"
            />
          </div>
          </div>
    </div>
    <div ngModelGroup="geo">
      <label>Geo</label>
      <div class="form-row">
        <div class="col-auto">
          <input
            type="text"
            class="form-control"
            placeholder="lat"
            id="lat"
            [(ngModel)]="user.address.geo.lat"
            name="lat"
            #lat="ngModel"
          />
        </div>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <input
              type="text"
              class="form-control"
              placeholder="lng"
              id="lng"
              [(ngModel)]="user.address.geo.lng"
              name="lng"
              #lng="ngModel"
            />
          </div>
          </div>
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
<pre>{{userForm.value | json}}</pre>
